*{
    margin:0;
    padding:0;
}

/* header section styles */

.header-container{
    height: 680px;
    width:1536px;
    background: rgba(229, 84, 115, 0.1);
    display: flex;
}
.header-content{
    width: 566px;
    height: 405px;
  
    margin:158px 78px 118px 192px;
}

    .header-container>img{
    width:508px;
    height: 640px;
    margin:40px 192px 0 78px;
}
.header-title{
width:566px;
height: 230px;
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 64px;
font-weight: 800;
line-height: 77px;
/* margin-right: 78px; */
}
.header-description{
    width:507px;
    height:72px;
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-top:26px;

}
.header-btn{
    width: 142px;
    height: 51px;
    color: rgb(255, 255, 255);
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 19px;
border-radius: 6px;

background: rgb(229, 84, 115);
margin-top: 26px;
border: none;

}

/* feature section styles */

.features-content{
 text-align: center;
 width: 475px;
 height:107px;
 margin: 143px auto 38px auto;

}
.features-flower-images-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 38px 192px;
}
.img-box-1{
    border-radius: 240px 240px 0px 0px;

    background: rgba(167, 33, 98, 0.15);
    width:371px;
    height:430px ;
}
.img-box-2{
    border-radius: 240px 240px 0px 0px;
    width:371px;
    height:430px ;
    background: rgba(5, 151, 160, 0.15);
}
.img-box-3{
    border-radius: 240px 240px 0px 0px;
    width:371px;
    height:430px ;
    background: rgba(71, 125, 17, 0.15);
}
.img-box-1>img{
    width: 248px;
height:342px;
margin:88px 63px 0 61px;
}
.img-box-2>img{
    width: 296px;
height:296px;
margin:94px 38px 41px 38px;
}
.img-box-3>img{
    width: 248px;
height:342px;
margin:88px 63px 0 61px;
}
.img-box-1,.img-box-2,.img-box-3 >h3{
    text-align: center;
    text-decoration: underline;
}
.features-flower-title{
  
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 32px;
font-weight: 800;
line-height: 38px;
margin-bottom: 19px;

}
.features-flower-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;

}
/* service section styles */
.services-container{
    width: 1152px;
    height:256px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    /* padding: 67px 140px 70px 140px; */
    border-radius: 6px;

    background: rgba(39, 39, 39, 0.05);

}
.services{
 

    margin: 102px 192px;
   
}
.icon-box-1{
    text-align: center;
    width: 298px;
height: 118px;

}
.icon-box-2{
    text-align: center;
    width: 253px;
    height: 118px;
    /* margin: 69px 80px 70px 80px; */
}
.icon-box-3{
    text-align: center;
    width: 162px;
    height: 118px;
    /* margin: 69px 140px 70px 140px; */
}
.icon-box-1,.icon-box-2,.icon-box-3>p{
    color: rgba(39, 39, 39, 0.8);
font-family: Lato;
font-size: 19px;
font-weight: 600;
line-height: 28px;
white-space: nowrap;

}
/* hot-deal-section styles */

.hot-deal-container{
    height: 496px;
    width:1536px;
    border-radius: 6px;

background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hot-deal-content{
    width: 475px;
height: 182px;
}
.hot-deal-title{
    font-family: Lato;
font-size: 32px;
font-weight: 800;
line-height: 38px;

}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-top: 19px;

}
.hot-deal-btn{
    width: 124px;
height: 51px;
border-radius: 6px;

background: rgb(229, 84, 115);
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 19px;
margin-top: 27px;
border: none;

}
.hot-deal-img>img{
    width: 254px;
height: 336px;
margin-left:149px;
}
/* Instagram section styles */

.instagram-content{
    text-align: center;
    margin: 143px auto 38px auto;
    width: 475px;
height: 107px;
}
.instagram-img-container{
    display: flex;
justify-content: center;
gap:19px;
    margin: 0 192px;

   
}
.instagram-img-container>img{
    width: 274px;
height: 317px;

}
.instagram-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 32px;
font-weight: 800;
line-height: 38px;

}
.instagram-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin:19px 0 38px 0;

}

/* deal section styles */
.deal{
    background-image: url("../Flower Asset/Rectangle 9.png");
    width: 1152px;
height: 359px;
margin: 102px auto;
display: flex;
flex-direction: column;
align-items: center;

}
.deal-container{

   
    width: 693px;
height: 165px;
text-align: center;
margin: 98px;

}
.deal-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 32px;
font-weight: 800;
line-height: 38px;

}
.deal-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin:14px 0 38px  0;

}
input[type="email"]{
    width: 560px;
height: 51px;
border-radius: 6px;

background: rgb(255, 255, 255);
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 13px;
font-weight: 400;
line-height: 15px;
border: none;
padding: 1px;

}
input[type=submit]{
    width: 120px;
height: 51px;
border-radius: 6px;
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 19px;

background: rgb(229, 84, 115);
border:none;
margin-left: 5px;
}
/* footer styles */

footer{
    width: 1538px;
height: 359px;
background-color: black;
}
.footer-container{
text-align: center;


 
}
.footer-title{
    
    font-family: Lato;
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    color: white;
    padding-top:102px;
    
}
.footer-description{
    color: rgba(255, 255, 255, 0.9);
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin:13px 0 27px 0;
}
.all-right{
    color: rgba(255, 255, 255, 0.4);
font-family: Lato;
font-size: 13px;
font-weight: 400;
line-height: 15px;

}
/* responsiveness and media query */
/* @media screen and (max-width:576px) {
    .header-container{
        flex-direction: column;
   
    }
  
    .header-content{
        height: 100%;
        width:100%;
        font-size: auto;
        margin:20px;
    }
    .header-description{
        height: 100%;
        width:100%;
     
  
    }
} */